<div class="cl-toggle"><i class="fa fa-bars"></i></div>
<div class="cl-navblock">
    <div class="menu-space">
        <div class="content">
            <div class="sidebar-logo">
                <div class="logo">
                    <img src="/images/bindo-logo.png"/>
                </div>
            </div>
            <ul class="cl-vnavigation">
                <li><a href="/{{ storeId }}/sales"><span>Sales</span></a></li>
                <li><a href="/{{ storeId }}/inventory"><span>Inventory</span></a></li>
                <li><a href="/{{ storeId }}/sales"><span>Suppliers</span></a></li>
                <li><a href="/{{ storeId }}/inventory"><span>Customers</span></a></li>
            </ul>
        </div>
    </div>
    <div class="text-right collapse-button" style="padding:7px 9px;">

    </div>
</div>