<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Bindo</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/libs/jasny-bootstrap/css/jasny-bootstrap.min.css" />
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.css' type='text/css' media='all' />
    <link rel="stylesheet" href="/fonts/font-awesome-4/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/libs/bootstrap.multiselect/css/bootstrap-multiselect.css"/>
    <link rel="stylesheet" type="text/css" href="/libs/jquery.multiselect/css/multi-select.css" />
    <link rel="stylesheet" type="text/css" href="/libs/jquery.multiselect/css/multi-select.css" />
    <link href="/css/style.css" rel="stylesheet"/>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,400italic,700,800' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Raleway:300,200,100' rel='stylesheet' type='text/css'>
</head>
<body class="animated" ng-app="bindoApp">


<div id="cl-wrapper" ng-view>

</div>

<!-- core -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>



<script src="/scripts/core.js"></script>
<script src="/scripts/models.js"></script>

<!-- angularJS -->
<script src="/libs/angular-1.2.29/angular.js"></script>
<script src="/libs/angular-1.2.29/angular-route.js"></script>
<script src="/scripts/Controller/inventoryController.js"></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.js'></script>
<script src="/scripts/app.js"></script>




</body>
</html>